  <div
    class="text-content-wrapper about-section"
    *ngIf="selectedSection === 'about'"
  >
    <p>
      Welcome to an interactive gallery of the most iconic collection of
      Japanese woodblock art.
    </p>
    <span class="text-content-instructions"
      >To explore all 36 prints in high resolution, select
      <div class="gallery-icon gallery-icon-black"></div>
      <span class="gallery-span">GALLERY</span> from the bar above.</span
    >
    <hr class="text-content-divider" />
    <p>
      Some artists found inspiration in human muses: Rodin had Claudel, Picasso
      had his <em>Weeping Woman</em> Dora Maar, and Warhol had Edie Sedgwick...
    </p>

    <p>
      What strikes me most about Hokusai is his reverence for natural monuments
      in and of his home country, notably Mt. Fuji. It's no mystery that prints
      like <em>The Great Wave off Kanagawa</em> have transcended time to remain
      as iconic as they were when Hokusai was first working. His scenary
      captures every potentiality of one's observation of Fuji and manages to
      never overstate it's sublimity- the Mountain simply is.
    </p>

    <p>
      To me, in the context of Fuji in all of the four seasons and its different
      viewing angles in the series, I find it natural to relate to Hokusai with
      my own experiences of unspoiled beauty that I've stumbled upon in my
      lifetime. Despite some 260 years separating Hokusai's and my own life, it
      seems the contemplation of nature and artistic representation of such
      subjects (especially in some circumstances where the subjects could be
      perilous) remains something ingrained in the human condition.
    </p>

    <p>
      This project was crafted to honor Hokusai and the collection of artwork
      that has inspired me immensely. As of December 30th, 2018, I have yet to
      see any his pieces in person so this is the next best thing! Please enjoy
      and check out the source code and technologies used on
      <a
        href="https://github.com/seanthaswan/osd-woodblocks"
        class="osd-github-link"
        >GitHub</a
      >.
    </p>

    <p>
      I appreciate <em>you</em> for checking out
      <strong>The Majesty of The Thirty-Six Views of Mt. Fuji</strong>. ♡
      <a href="http://www.seancswanson.com" class="love">Sean Swanson</a>
    </p>
  </div>
  <div
    class="text-content-wrapper bio-section"
    *ngIf="selectedSection === 'bio'"
  >
    <div class="text-content bio">
      <p>
        “Katsushika Hokusai (Japanese, 1760–1849) was a Japanese artist, ukiyo-e
        painter, and printmaker during the Edo period. Born to an artisan family
        in present-day Tokyo, he began painting at a young age, and became
        apprenticed to a wood-carver as a teenager. At the age of 18, he was
        accepted into the studio of Katsukawa Shunsho, an artist of the ukiyo-e
        style, which was focused on the depiction of the booming merchant class,
        including courtesans, Kabuki actors, and sumo wrestlers. After Shunsho's
        death, Hokusai began experimenting with other styles of art, including
        Western styles. But he didn't fully develop his own signature technique
        until he was expelled from the Katsukawa School.
      </p>

      <p>
        During his lifetime, Hokusai was known as the leading expert on Chinese
        painting in Japan. He is best-known for the woodblock print series 36
        Views of Mount Fuji, which includes the iconic image, The Great Wave off
        Kanagawa. Hokusai created 36 Views both as a response to an increase in
        domestic travel and as part of a personal fascination with Mount Fuji.
        It was this series, specifically The Great Wave print and Fuji in Clear
        Weather, that gained Hokusai international fame.
      </p>

      <p>
        Hokusai had a profound impact on Western art, which was increasingly
        influenced by Japanese culture and style beginning in the 19th century.
        Artists such as Édouard Manet, Claude Monet, and Vincent van Gogh were
        all inspired by his wood-block prints.”
      </p>
      <p>
        - Biography from
        <a
          class="artnet-link"
          href="http://www.artnet.com/artists/katsushika-hokusai/biography"
          >artnet</a
        >
      </p>
    </div>
  </div>
