.text-content-nav {
  display: flex;
  height: 100%;
}

.nav-button {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;

  height: 100%;
  flex: 1;

  cursor: pointer;
  transition: 0.3s all ease;
  text-transform: uppercase;

  color: white;
  border-bottom: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);

  &:hover {
    background: white;
    color: black;
  }

  &:focus {
    background: white;
    color: black;
  }

  &#about-btn {
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-left: 2px solid rgba(255, 255, 255, 0.4);
  }

  &#bio-btn {
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-left: none;
  }

  &#gallery-btn {
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    border-right: 2px solid rgba(255, 255, 255, 0.4);
    border-left: none;

    &:focus,&:hover {
      .gallery-icon {
        filter: invert(1);
      }
    }
  }

  &.active-btn {
    background: white;
    color: black;
  }
}

.gallery-icon {
  display: inline-block;

  width: 10px;
  height: 10px;
  margin-right: 5px;

  background-size: cover;
}


.gallery-icon-white {
  background-image: url("../../assets/icons/gallery.svg");
}
