<div class="intro">
  <div class="title">
    <h1>The Majesty of The Thirty-Six Views of Mt. Fuji</h1>
    <p class="title-name">A Tribute to Katsushika Hokusai</p>
    <img
      class="title-signature"
      src="../assets/hokusai-sig2.svg"
      onerror="this.src='../assets/hokusai-sig.png'"
    />
    <!-- <p class="title-signature">北斎改為一筆</p> -->
    <!-- <p class="title-life">c. October 31, 1760 – May 10, 1849</p> -->
  </div>
  <app-nav (sectionSet)="setSection($event)" [selectedSection]="selectedSection"></app-nav>
  <app-text-sections [selectedSection]="selectedSection"></app-text-sections>
</div>
<div
  class="main-image"
  [ngClass]="{
    'main-collage': selectedSection === 'about',
    'main-portrait': selectedSection === 'bio'
  }"
></div>

<footer>
  Made with ♡ - &copy; 2018 - 2022<a
    class="footer-link"
    href="http://www.seancswanson.com"
    >Sean Swanson</a
  >
</footer>
